<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost()}}/css/theme.css"/>
    </head>
    <body>
        {% block loginMenu %}{% include 'AppBundle::loginmenu.html.twig'%}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'AppBundle:home:ga.html.twig' %}
    </body>
</html>
