{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% include 'AppBundle:turn:_turn.html.twig' %}

    <ul class="ul-separated">
        <li>
            <a href="{{ path('turn_edit', { 'id': turn.id }) }}">Edit turn</a>
        </li>
        <li>
            <a href="{{ path('turn_new', { 'id': turn.game.id }) }}">Add turn</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete turn" onclick="return confirm('Do you really want to delete turn?');">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
