{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        {% if app.user %}
        {% include 'AppBundle:home:_nations.html.twig' %}
        {% else %}

        <h1 style="text-align: center">Logging, Planning, Private Sharing and Saving Dominions 4 game turns.</h1>

        <div style="display:block; text-align: center;">
            <strong>Available nations list:</strong>
        </div>

        <div style="display:block; text-align: center;">
            {% set old = 'old' %}
            {% for nation in nations %}

            {% if nation.age != old %}
            <br/><br/>{{ nation.age }} Age:<br/><br/>
            {% set old = nation.age %}
            {% endif %}

            {{ nation.name }}

            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
