{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container" style="padding-top: 150px;">
        {% if app.user %}
        {% include 'AppBundle:home:_nations.html.twig' %}
        {% else %}

        <h1>Logging, Planning, Private Sharing and Saving Dominions 4 game turns.</h1>

        <h3><span class="underline">Log</span> games and turns.</h3>
        <h3><span class="underline">Plan</span> the game ahead.</h3>
        <h3><span class="underline">Share</span> turns for friends for advices.</h3>
        <h3><span class="underline">Upload</span> game turns to ease game analysis and review.</h3>

        {% endif %}
    </div>
</div>
{% endblock %}
