{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        {% if app.user %}
        {% include 'AppBundle:home:_nations.html.twig' %}
        {% else %}

        <h1>Logging, Planning, Private Sharing and Saving Dominions 4 game turns.</h1>

        <h3><span class="underline">Log</span> games and turns to travel in game time back and forth.</h3>
        <h3><span class="underline">Plan</span> the game ahead.</h3>
        <h3><span class="underline">Share</span> turns and plans with friends.</h3>
        <h3><span class="underline">Upload</span> game turn files to ease game review.</h3>

        {% endif %}
    </div>
</div>
{% endblock %}
