{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1 style="text-align: center"><span>Home page</h1>
        </div>

        <div id="status">
            <p>
            </p>
        </div>

        {% if app.user %}
        {% include 'AppBundle:home:_nations.html.twig' %}
        {% else %}
        <div style="display:block; margin-top: 20px; text-align: center;">
            <strong>Nations list:</strong>
        </div>

        <div style="display:block; margin-top: 20px; text-align: center;">
            {% for nation in nations %}
            {{ nation.name }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
