{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1 style="text-align: center"><span>Home page</h1>
        </div>

        <div id="status">
            <p>
            </p>
        </div>

        <div style="display:block; margin-top: 20px; text-align: center;">
            <strong>Nations list:</strong>
        </div>

        <div style="display:block; margin-top: 20px; text-align: center;">
            {% for nation in nations %}
                {{ nation.name }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
