{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<div id="wrapper" style="text-align: center; margin-top: 30px; border: 1px solid black">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- test -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-1814072742039137"
         data-ad-slot="7495849203"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="hide" id="titles">
1 "# of Every Flame" : Fire >= 5; Unknown: 2
2 "# of Flames" : Fire >= 4; Unknown: 2
3 "# of Fires" : Fire >= 6; Unknown: 2
4 "# of Ashes" : Fire >= 4; Death >= 4
5 "# of Fires of the Earth" : Fire >= 4; Earth >= 4
6 "# of Volcanoes" : Fire >= 4; Earth >= 4
7 "# of Magma" : Fire >= 4; Earth >= 4
8 "# of Brilliance" : Fire >= 4
9 "# of Fever" : Fire >= 4; Death >= 4
10 "# of the Desert Sun" : Fire >= 4; Scale Heat >= 3; Scale Death >= 1
11 "# of Heavenly Fires" : Fire >= 4; Astral >= 4
12 "the Brilliant God" : Fire >= 4
13 "the Everburning One" : Fire >= 4
14 "the Loyal Master" : Fire >= 4; Scale Order >= 2; Gender: 1
15 "# of the Dawn" : Fire >= 4; Dominion: 8
16 "Feeder on Impurity" : Fire >= 4
17 "the Burning Soul" : Fire >= 4
18 "# of Light" : Fire >= 9
19 "# of the Sun" : Fire >= 9; Astral >= 4
20 "Regent of the Sun" : Fire >= 9; Astral >= 4
21 "# of Volcanic Fire" : Fire >= 5; Earth >= 3
22 "# of Spring and Sunlight" : Fire >= 4; Scale Growth >= 2; Nature >= 4
23 "# of Penitential Torture" : Fire >= 4; Scale Order >= 1
24 "Enemy of Darkness" : Fire >= 4
25 "Eater of Filth" : Fire >= 4
26 "Devourer of Sins" : Fire >= 4
27 "the Great Sun of Life" : Fire >= 4; Nature >= 4
28 "# of Air" : Air >= 4
29 "# of Clouds" : Air >= 4; Unknown: 16
30 "Rider of the Clouds" : Air >= 4; Unknown: 16
31 "# of Mists" : Air >= 4; Water >= 1
32 "Holder of the Windbag" : Air >= 4
33 "# of the Winds" : Air >= 4; Unknown: 1
34 "# of the Wind and of the Hoe" : Air >= 3; Scale Production >= 1; Scale Growth >= 1; Unknown: 1
35 "# of the Scorching Winds" : Air >= 4; Unknown: 1; Scale Heat >= 2
36 "# of the Freezing Winds" : Air >= 4; Unknown: 1; Scale Cold >= 2
37 "# of the Four Winds" : Air >= 6; Unknown: 1
38 "# of the North Wind" : Air >= 4; Scale Cold >= 1; Unknown: 1
39 "# of the South Wind" : Air >= 4; Scale Heat >= 1; Unknown: 1
40 "# of the East Wind" : Air >= 4; Scale Turmoil >= 1; Unknown: 1
41 "# of the West Wind" : Air >= 4; Scale Order >= 1; Unknown: 1
42 "# of the Black Wind" : Air >= 4; Scale Death >= 1; Death >= 2; Unknown: 1
43 "# of the Desert Wind" : Air >= 4; Scale Heat >= 1; Fire >= 1; Unknown: 1
44 "# of Thunder and Lightning" : Air >= 4; Scale Turmoil >= 2
45 "# of the Thundershowers and of the Plow" : Air >= 4; Water >= 3; Scale Growth >= 1
46 "the Pillar that is Purity" : Air >= 4; Scale Order >= 3; Dominion: 6
47 "Reaver of the Skies" : Air >= 4; Scale Turmoil >= 3
48 "Warrior in the Gale" : Air >= 4; Scale Turmoil >= 3
49 "Supreme Messenger Herald of the Gods" : Air >= 5; Unknown: 19
50 "Messenger of Gods" : Air >= 4; Unknown: 19
51 "# of Illusion and Masquerade" : Air >= 4; Scale Magic >= 0
52 "# of Storms" : Air >= 7; Scale Turmoil >= 1
53 "Maker of the Storms" : Air >= 7; Scale Turmoil >= 1
54 "# of Heaven" : Air >= 9; Astral >= 4; Scale Order >= 2
55 "# of the Sky" : Air >= 9
56 "Sky of all the People" : Air >= 6
57 "! who Mounts the Clouds" : Air >= 5
58 "Great Hurricane of the Heavens" : Air >= 6
59 "# of the Breath of Life" : Air >= 5; Astral >= 4
60 "# of Wind on the Waters" : Air >= 4; Water >= 2; Unknown: 1
61 "the Breathmaker" : Air >= 4; Nature >= 4
62 "Bull of the Storms" : Air >= 3; Earth >= 3
63 "the # of the Power of the Air" : Air >= 7
64 "the Great Deceiver" : Air >= 5; Scale Turmoil >= 1
65 "the One Far Above" : Air >= 6
66 "# of Water" : Water >= 4
67 "the # Knowing the Waters" : Water >= 4
68 "# of Deadly Waters" : Water >= 4; Scale Death >= 2
69 "# of Fishermen" : Water >= 2
70 "Harvester of Sailors" : Water >= 3; Death >= 3
71 "Friend of Sailors" : Water >= 3; Air >= 3
72 "Divine Inspector of Canals" : Water >= 1; Scale Order >= 1; Scale Production >= 1
73 "# of Navigation" : Water >= 3; Astral >= 3
74 "# of Rivers" : Water >= 4
75 "# of Rain" : Water >= 4
76 "the Boiling Spirit" : Water >= 4; Fire >= 4
77 "Beverage" : Water >= 4; Nature >= 4
78 "# of the Raging Seas" : Water >= 4; Scale Turmoil >= 2
79 "# of the Eternal Sea" : Water >= 4; Astral >= 4; Scale Magic >= 2
80 "# of the Waves" : Water >= 4
81 "# of Frost" : Water >= 4; Scale Cold >= 2
82 "# of Ice" : Water >= 4; Scale Cold >= 2
83 "# of Winter" : Scale Cold >= 2
84 "the Long Winter" : Scale Cold >= 2
85 "# of the Winter Realms" : Scale Cold >= 3; Water >= 4
86 "# of the Frozen Waste" : Water >= 4; Scale Death >= 3; Scale Cold >= 3
87 "Turner of the Flood" : Water >= 4
88 "# of the Ocean Underneath" : Water >= 4; Earth >= 4
89 "Keeper of the Water Dead" : Water >= 4; Scale Death >= 2
90 "# of the Oceans" : Water >= 9
91 "# of Primordial Waters" : Water >= 9
92 "# of Primeval Depths" : Water >= 9
93 "# of all Sources of Water" : Water >= 6
94 "the Sea Mother" : Water >= 6; Gender: 0
95 "the Whirlpool" : Water >= 5
96 "Ruler of the Ocean" : Water >= 4; Air >= 2
97 "Mother of Fishes" : Gender: 0; Water >= 4
98 "Opener of the Wells" : Water >= 4
99 "Smotherer of Life" : Water >= 4; Death >= 4; Gender: 0
100 "the Embracer" : Water >= 4; Gender: 0
101 "Lady of Embracing" : Water >= 4; Gender: 0
102 "She who Embraces" : Water >= 4; Gender: 0
103 "! who Strangles" : Water >= 4; Scale Death >= 1
104 "! who Shoots Forth" : Water >= 4; Scale Growth >= 1
105 "! who Runs like an Arrow" : Water >= 3; Air >= 3
106 "Patron of Smiths" : Earth >= 4; Scale Production >= 2
107 "the Divine Smith" : Earth >= 7
108 "# of Forgiving" : Earth >= 3
109 "the Coppercaster of the Gods" : Earth >= 3; Fire >= 2
110 "# of Bricks" : Earth >= 2; Fire >= 2
111 "# of the Foothills" : Earth >= 2; Unknown: 13
112 "# of the Soil" : Earth >= 2; Scale Growth >= 1; Unknown: 13
113 "# of the Stony Ground" : Earth >= 2; Unknown: 13
114 "# of Mountains" : Earth >= 4; Unknown: 13
115 "# of Metals" : Earth >= 4
116 "# of Inventions" : Earth >= 4; Unknown: 8
117 "the Inventor of Science" : Earth >= 4; Scale Drain >= 2; Unknown: 8
118 "# of the Crafts" : Earth >= 4
119 "# of Earthquakes" : Earth >= 6
120 "the Earth Monster" : Earth >= 6
121 "the Armorer" : Earth >= 4
122 "the Unmoving Master" : Earth >= 4; Immobile: 1; Gender: 1
123 "the Unshakable" : Earth >= 4; Scale Order >= 2
124 "# of Tremors" : Earth >= 4; Scale Turmoil >= 1
125 "# of Might" : Earth >= 4; Unknown: 10
126 "# of Strength" : Earth >= 4; Unknown: 10
127 "the Personification of Strength" : Earth >= 4; Strength: 28; Unknown: 10
128 "the Fortifier" : Earth >= 4
129 "the Hammer of Gaia" : Earth >= 9
130 "the Mountain Lord" : Earth >= 4; Gender: 1; Unknown: 13
131 "Guardian of Existence" : Earth >= 4; Astral >= 4
132 "! Who Seals the Gates of Death" : Earth >= 4; Death >= 4
133 "Patron of Artisans" : Earth >= 2; Scale Magic >= 1
134 "the Hungry Earth" : Earth >= 4; Blood >= 4
135 "the Maker of Mountains" : Earth >= 7
136 "# of the Forges" : Earth >= 4; Fire >= 4; Scale Production >= 2
137 "! Who Tempers the Spirit" : Earth >= 4; Astral >= 4
138 "Earth Mother" : Earth >= 9; Gender: 0
139 "the Rock" : Earth >= 4; Unknown: 14
140 "# of the Rock" : Earth >= 4; Unknown: 14
141 "the One who Contains Everything" : Dominion: 8; Earth >= 6
142 "# of the Mountain Springs" : Earth >= 3; Water >= 3
143 "# of the Greater Earth" : Earth >= 6
144 "Protector of the Holy Mountain" : Earth >= 4
145 "# of Dirt" : Earth >= 4
146 "! who is on the Mountain" : Earth >= 3; Death >= 3
147 "the Great Potter" : Earth >= 2; Water >= 2; Fire >= 2; Scale Production >= 1
148 "Warrior Against the Sun" : Death >= 4; Immobile: 0
149 "# of Darkness" : Death >= 6; Unknown: 5
150 "the Shadow Over All" : Death >= 6; Unknown: 5
151 "! Who Loves not the Light" : Death >= 6; Scale Death >= 3
152 "# of Shadows" : Death >= 4; Air >= 4
153 "# of Disease" : Death >= 4
154 "! who Gave Birth to Death" : Death >= 9; Gender: 0
155 "# of the Dead" : Death >= 6; Unknown: 17
156 "Guardian of the Dead" : Death >= 4; Unknown: 17
157 "# of Famine" : Death >= 4; Scale Death >= 1
158 "# of Plagues" : Death >= 5; Scale Death >= 2; Unknown: 16
159 "Mother of the Plague" : Death >= 5; Scale Death >= 2; Unknown: 16; Gender: 0
160 "# of Pestilence" : Death >= 4; Scale Death >= 1
161 "# of Death and Rebirth" : Death >= 4; Scale Growth >= 2
162 "# of Decay" : Death >= 4; Scale Death >= 1
163 "# of Corruption" : Death >= 4; Nature >= 4
164 "# of the Night Sky" : Death >= 4; Astral >= 3; Air >= 3
165 "the Eternal Judge" : Death >= 4; Scale Order >= 3
166 "the Watcher of the Gallows" : Death >= 4
167 "# of Dark Magics" : Death >= 4; Scale Magic >= 2
168 "the King at the Crossroads" : Death >= 4; Gender: 1
169 "the Lady at the Crossroads" : Death >= 4; Gender: 0
170 "# of Terror" : Death >= 4
171 "the Harvester" : Death >= 4
172 "# of Untimely Death" : Death >= 4
173 "# of Suicides" : Death >= 4
174 "the Terror of the Tomb" : Undead: 1
175 "the Lurker in the Crypt" : Undead: 1
176 "the Collector of Souls" : Undead: 1; Scale Magic >= 1; Dominion: 7
177 "Guide of Souls" : Death >= 4; Scale Order >= 0
178 "Star of the Dead" : Death >= 4; Astral >= 4; Fire >= 4
179 "the Personification of Death" : Death >= 9; Unknown: 3
180 "# of Death" : Death >= 9; Unknown: 3
181 "# of the Afterlife" : Death >= 9; Scale Order >= 1; Unknown: 4
182 "# of the Underworld" : Death >= 9; Earth >= 9; Unknown: 4
183 "the Dead and Undying God" : Death >= 9; Undead: 1; Gender: 1
184 "The dead and Undying Godess" : Death >= 9; Undead: 1; Gender: 0
185 "# of Darkness and Destruction" : Death >= 7; Scale Death >= 2; Unknown: 5
186 "Patron of Necromancers" : Death >= 4; Scale Order >= 0
187 "the Grey One" : Death >= 4; Astral >= 4
188 "the One Always at the Shoulder" : Death >= 4
189 "the Shadow" : Death >= 4
190 "the Pockmarked Savior" : Death >= 4; Scale Order >= 1
191 "Gatherer of the Dead" : Death >= 4
192 "Friend of the Dead" : Death >= 3; Nature >= 3
193 "the Stealer of Corpses" : Death >= 1
194 "Persecutor and Destroyer of Youth" : Death >= 5; Scale Death >= 1
195 "# of the City of the Dead" : Scale Order >= 1; Death >= 6
196 "Foremost of the Westerners" : Death >= 4; Astral >= 2
197 "# of Eclipses" : Astral >= 5; Scale Misfortune >= 1; Scale Magic >= 1
198 "the Evening Star" : Astral >= 5
199 "the Morning Star" : Astral >= 5
200 "Divine Scribe" : Astral >= 1; Scale Magic >= 1
201 "Crystallizer of Dreams" : Astral >= 6; Scale Magic >= 3
202 "the Maker of Moons" : Astral >= 6; Earth >= 6; Nation: 88
203 "the Maker of Moons" : Astral >= 6; Earth >= 6; Nation: 92
204 "Father of Horrors" : Astral >= 9; Blood >= 9; Gender: 1
205 "Most Evil Mind" : Dominion: 9; Blood >= 4; Astral >= 4
206 "# of Insanity" : Astral >= 4; Scale Turmoil >= 1
207 "Protector from Insanity" : Astral >= 4; Scale Drain >= 2; Scale Order >= 1
208 "# of the Void" : Astral >= 6; Scale Drain >= 3
209 "Shining Boat of Heaven" : Astral >= 4; Water >= 2; Unknown: 3
210 "# of the Barge of Heaven" : Astral >= 4; Water >= 2; Unknown: 3
211 "Opener of the Ways" : Astral >= 5
212 "# of Fortune" : Astral >= 4; Scale Luck >= 3; Unknown: 5
213 "Keeper of the Celestial Records" : Astral >= 4; Scale Order >= 1
214 "# of Arcane Mysteries" : Astral >= 4
215 "Lord of Luck" : Astral >= 4; Scale Luck >= 3; Gender: 1; Unknown: 5
216 "Lady of Luck" : Astral >= 4; Scale Luck >= 3; Gender: 0; Unknown: 5
217 "# of Stellar Lights" : Astral >= 4
218 "the Afterthought" : Astral >= 4
219 "# of Dreams" : Astral >= 4
220 "# of Astral Fires" : Astral >= 4; Fire >= 4
221 "Dispenser of Fate" : Astral >= 4; Scale Order >= 2
222 "# of the Celestial Bodies" : Astral >= 4
223 "# of the Heavenly Fires" : Astral >= 4; Fire >= 4
224 "Guardian of the Tablets of Destiny" : Astral >= 7
225 "# of Destiny" : Astral >= 7; Unknown: 6
226 "# of Fate" : Astral >= 8; Unknown: 6
227 "Director of the World" : Astral >= 7; Unknown: 6
228 "! Who Holds the Fate of All" : Astral >= 9; Dominion: 8; Unknown: 6
229 "# of Immortal Wisdom" : Astral >= 6; All Sorcery >= 1; Unknown: 18
230 "! who Gave Birth to Fate" : Astral >= 9; Gender: 0
231 "! who Gave Birth to Time" : Astral >= 9; Gender: 0
232 "the Undeceivable God" : Astral >= 4; Gender: 1
233 "the Baleful Eye" : Astral >= 4; Scale Death >= 2
234 "Pivot of the Universe" : Dominion: 9; Astral >= 9
235 "the Creator of all Life and Existence" : Dominion: 9; Astral >= 7; Nature >= 4
236 "Maker of Everlasting Worlds" : Dominion: 9; Astral >= 7; Earth >= 4; Nature >= 4
237 "# of the Pole Star" : Astral >= 6
238 "# of Men" : Astral >= 6
239 "# of the Sacred Eye" : Astral >= 5
240 "Creator of the Calendar" : Astral >= 4; Scale Order >= 2
241 "the Far Traveler" : Astral >= 3
242 "! who Confuses the Way" : Astral >= 4; Scale Sloth >= 1
243 "! who Makes Clear the Way" : Astral >= 4; Scale Production >= 1
244 "the Persuasive One" : Astral >= 1
245 "the Fate of the World" : Astral >= 7
246 "# of Doors and Beginnings and Endings" : Astral >= 5
247 "Guardian of the Bridge" : Astral >= 4; Earth >= 2
248 "the Face Painted with Bells" : Astral >= 4
249 "Star of the Sea" : Water >= 4; Astral >= 4
250 "the Brilliant One in the Sky" : Fire >= 4; Astral >= 4
251 "Light" : Fire >= 4; Astral >= 6
252 "# of the Healing Arts" : Nature >= 4
253 "# of Nature" : Nature >= 4
254 "the Carpenter of the Insides" : Nature >= 4
255 "the Goddess of Birth" : Nature >= 4; Scale Growth >= 2; Gender: 0
256 "the Womb" : Nature >= 4; Scale Growth >= 2; Gender: 0
257 "the Mother of All Children" : Nature >= 4; Scale Growth >= 2; Gender: 0
258 "# of Growth" : Nature >= 4; Scale Growth >= 1; Unknown: 12
259 "# of Fertility" : Nature >= 5; Scale Growth >= 2
260 "# of the Forest" : Nature >= 4; Scale Growth >= 0
261 "# of Animals" : Nature >= 4
262 "# of Vegetation" : Nature >= 4; Scale Growth >= 3
263 "# of Verdure" : Nature >= 4; Scale Growth >= 2
264 "# of Grasses" : Nature >= 4; Scale Growth >= 2
265 "# of Plants and Trees" : Nature >= 4; Scale Growth >= 0
266 "the Howler" : Nature >= 4; Scale Turmoil >= 2
267 "the Wild Bull who has Lain Down" : Nature >= 4; Scale Growth >= 1; Scale Sloth >= 1; Gender: 1
268 "Fecund Breed" : Nature >= 4; Scale Growth >= 3; Gender: 1
269 "# of the Wild Cows" : Nature >= 4; Scale Turmoil >= 1
270 "# of the Dying Forests" : Nature >= 4; Scale Death >= 2
271 "the Unsleeping God" : Nature >= 4; Gender: 1
272 "the Unsleeping Goddess" : Nature >= 4; Gender: 0
273 "# of the Wildlife" : Nature >= 4
274 "# of Beauty and Charm" : Nature >= 4; Air >= 1; Gender: 0
275 "# of Poetry and Song" : Nature >= 4; Scale Order >= 65535
276 "the Creator of Wine" : Nature >= 4; Scale Sloth >= 2
277 "# of Revelry" : Nature >= 4; Scale Turmoil >= 2
278 "# of the Hunt" : Nature >= 4
279 "Herder of Men" : Nature >= 4; Scale Turmoil >= 1
280 "# of the Blessed Lands" : Nature >= 6; Scale Growth >= 3
281 "Patron of Herbalists" : Nature >= 3
282 "Healer of the Lands" : Nature >= 6; Earth >= 4
283 "First Born of Gaia" : Nature >= 9
284 "Patron of Berserkers" : Nature >= 4; Scale Turmoil >= 1
285 "The Hidden One" : Nature >= 4
286 "# of the Forest that Thirsts" : Nature >= 4; Blood >= 4
287 "He Who Felled the First Tree" : Nature >= 4; Scale Order >= 3; Gender: 1
288 "# of the Eternal Forest" : Nature >= 9; Scale Growth >= 0
289 "# of Birds and Parrots" : Nature >= 2; Air >= 2; Scale Heat >= 1
290 "the Essence of Fertility" : Nature >= 9; Scale Growth >= 3
291 "the King of Berries" : Nature >= 1; Scale Cold >= 1; Gender: 1
292 "Lady Precious Green" : Nature >= 4; Gender: 0
293 "# of all Young and Growing Things" : Scale Growth >= 3; Nature >= 4
294 "Personification of Youthful Vitality an" : Scale Turmoil >= 1; Nature >= 4; Scale Growth >= 1; Lifeless: 0
295 "the Old Old One" : Nature >= 4; Astral >= 4
296 "Bringer of Abundance" : Nature >= 4; Scale Growth >= 2
297 "# of Eloquence" : Nature >= 3; Scale Order >= 0
298 "the Leaflord" : Nature >= 3; Gender: 1
299 "# of Insects" : Nature >= 3
300 "the Divine Shepherd" : Nature >= 2
301 "# of Horses" : Nature >= 3
302 "# of Hunting" : Scale Growth >= 1; Nature >= 4
303 "# of the Spring" : Nature >= 4; Scale Growth >= 1
304 "# of Flowers and Spring" : Scale Growth >= 3; Nature >= 4
305 "Midwife of the Gods" : Gender: 0; Scale Growth >= 1; Nature >= 6
306 "Gardener of Happiness" : Scale Growth >= 1; Nature >= 4; Scale Luck >= 1
307 "the One who Purifies Everyone by the very Utterance of His Name" : Dominion: 7; Scale Growth >= 2; Nature >= 6
308 "of Formidden Love" : Scale Growth >= 1; Scale Turmoil >= 1; Nature >= 4
309 "the Queen that Hungers" : Blood >= 4; Undead: 1; Gender: 0
310 "the Death Caused by Lust" : Blood >= 4; Nature >= 4; Gender: 0
311 "# of Immortal Evils" : Blood >= 4; Undead: 1; Gender: 0; Dominion: 8
312 "Eater of Children" : Blood >= 4
313 "the Evil Prince" : Blood >= 1; Gender: 1
314 "the Evil Princess" : Blood >= 1; Gender: 0
315 "Patron of Human Sacrifice" : Blood >= 4
316 "# of Blood" : Blood >= 4; Unknown: 10
317 "# of Blood and Perfume " : Blood >= 4; Nature >= 2; Unknown: 10
318 "# of Pain" : Blood >= 4
319 "Sovereign of Sin" : Blood >= 4; Scale Order >= 1
320 "Lord of Flies" : Blood >= 4; Nature >= 2; Gender: 1
321 "Enemy of Infants" : Blood >= 1
322 "the Power Perverse" : Blood >= 4; Scale Magic >= 2
323 "# of Taint" : Blood >= 4; Nature >= 4; Scale Magic >= 2
324 "# of Suffering" : Blood >= 4
325 "Bane of Men" : Blood >= 4
326 "the Leech" : Blood >= 4
327 "the Leeching Darkness" : Blood >= 4; Death >= 4
328 "the Bloodlusting Lord" : Blood >= 6; Gender: 1
329 "Seducer of Life" : Blood >= 4
330 "# of Evil" : Blood >= 6; Scale Death >= 1; Scale Turmoil >= 1
331 "Mother of Demons" : Blood >= 6; Nature >= 4; Gender: 0
332 "God of Unnatural Lust" : Blood >= 4; Nature >= 4; Gender: 1
333 "Goddess of Unnatural Lust" : Blood >= 4; Nature >= 4; Gender: 0
334 "the Infernal Sovereign" : Blood >= 5; Fire >= 5
335 "Drinker of Blood" : Blood >= 3
336 "Lord of Kokytos" : Blood >= 6; Water >= 4; Scale Cold >= 3; Gender: 1
337 "# of the Abyss" : Blood >= 9; Scale Turmoil >= 2; Dominion: 8
338 "# of Horrors" : Blood >= 7; Astral >= 7; Scale Magic >= 3
339 "the Man Eater" : Blood >= 3
340 "Tamer of Demons" : Blood >= 4
341 "Tower of Strength" : Blood >= 4
342 "Lord of Madness" : Gender: 1; Blood >= 3; Astral >= 3; Scale Turmoil >= 3
343 "Left Hand of Knowledge" : All Sorcery >= 1
344 "# of Wisdom" : All Sorcery >= 2; Unknown: 18
345 "the Mighty One of Words of Power" : All Path >= 1; Gender: 1
346 "# of the Elements" : All Element >= 3
347 "! who is Crowned with Wisdom" : All Sorcery >= 1; Unknown: 18
348 "Master of Magic" : All Path >= 1; Gender: 1
349 "Mistress of Magic" : All Path >= 1; Gender: 0
350 "# of Rainbows" : All Element >= 1; Nature >= 1
351 "# of Witchcraft" : All Sorcery >= 1; Gender: 0
352 "! who has Infinite Power" : All Path >= 1; Astral >= 8
353 "the Vessel of Might" : Dominion: 6; Unknown: 10
354 "Exalted Above and Below" : Dominion: 6; Astral >= 4; Death >= 4
355 "King of Kings" : Dominion: 5; Gender: 1
356 "the Most High" : Dominion: 6
357 "August #" : Dominion: 8
358 "Lord of Fear and Trembling" : Dominion: 8; Gender: 1; Fear: 10
359 "Father of Gods" : Dominion: 9; Gender: 1; Unknown: 19
360 "Mother of Gods" : Dominion: 9; Gender: 0; Unknown: 19
361 "Prince of Majesty" : Dominion: 9; Gender: 1; Awe: 1
362 "Queen of Majesty" : Dominion: 9; Gender: 0; Awe: 1
363 "God of Invincible Power" : Dominion: 10
364 "God of Gods" : Dominion: 10; Gender: 1; Unknown: 19
365 "the Beginning and the End" : Dominion: 10; Unknown: 19
366 "He who Is at the Center" : Dominion: 7; Gender: 1
367 "the God above All" : Dominion: 10; Gender: 1
368 "# of Many Names" : Dominion: 8
369 "# of this World" : Dominion: 7
370 "# who Knows All Things" : Dominion: 7; All Sorcery >= 1
371 "the Destroyer" : Scale Turmoil >= 3; Death >= 0
372 "Patron of Thieves" : Scale Turmoil >= 1; Unknown: 0
373 "# of Beggars" : Scale Turmoil >= 0; Scale Sloth >= 3; Unknown: 15
374 "Patron of Beggars" : Scale Turmoil >= 0; Scale Sloth >= 1; Unknown: 15
375 "# of Fraud and Theft" : Scale Turmoil >= 1; Unknown: 0
376 "Patron of Injustice" : Scale Turmoil >= 3; Scale Misfortune >= 1
377 "# of Tyrants" : Scale Turmoil >= 1; Scale Death >= 0; Scale Misfortune >= 1
378 "# of Insolence" : Scale Turmoil >= 1
379 "# of War" : Scale Turmoil >= 3; Dominion: 5; Unknown: 5
380 "Bringer of War" : Scale Turmoil >= 3; Unknown: 5
381 "the Lover of War" : Scale Turmoil >= 2
382 "the Angry Face" : Scale Turmoil >= 3
383 "# of Chaos" : Scale Turmoil >= 3
384 "# of Turmoil" : Scale Turmoil >= 3
385 "# of Spontaneity" : Scale Turmoil >= 1
386 "# of Unexpected Pleasure and Sorrow" : Scale Turmoil >= 3
387 "Enemy of Reason" : Scale Turmoil >= 3; Scale Magic >= 3
388 "the God with Backward Feet" : Gender: 1; Scale Turmoil >= 3; Scale Sloth >= 1
389 "Patron of Liars" : Scale Luck >= 1; Scale Turmoil >= 2
390 "# of Mischief" : Scale Turmoil >= 1
391 "Bringer of Discord" : Scale Turmoil >= 2
392 "# of Bloodshed and Conflict" : Scale Turmoil >= 3
393 "the Enemy of Both Sides" : Scale Turmoil >= 1
394 "the Two" : Scale Turmoil >= 2
395 "She of Two Faces" : Scale Turmoil >= 2; Gender: 0
396 "# of Two Faces" : Scale Turmoil >= 2
397 "# of Civilization" : Scale Order >= 3; Scale Production >= 2
398 "Gate of Peace" : Scale Order >= 3
399 "# of the Open Road" : Scale Order >= 2
400 "Patron of Merchants" : Scale Order >= 1
401 "the Divine Architect" : Earth >= 4; Scale Production >= 2; Scale Order >= 2
402 "# of the Hierarchs" : Scale Order >= 3
403 "# of Order" : Dominion: 5; Scale Order >= 3
404 "# of Patience" : Scale Order >= 1; Scale Production >= 0
405 "# of Discipline" : Scale Order >= 1; Scale Production >= 1
406 "# of Ostentatious Ornament" : Scale Order >= 3; Scale Production >= 3
407 "the Fountainhead of Order" : Scale Order >= 3; Dominion: 8
408 "# of Wealth and Power" : Scale Order >= 2
409 "# of Writing and Speech" : Scale Order >= 1; Scale Production >= 0
410 "Friend of All" : Scale Order >= 1; Scale Growth >= 0; Scale Luck >= 0; Scale Magic >= 0
411 "Patron of the Rich" : Scale Order >= 1; Unknown: 13
412 "God of the City" : Scale Order >= 2; Gender: 1
413 "Commander of Truth" : Scale Order >= 1; Unknown: 14
414 "Patron of Arbitrators" : Scale Order >= 2
415 "Protector of Oaths" : Scale Order >= 3; Unknown: 14
416 "Guardian of the Law" : Scale Order >= 2
417 "the Kindly One" : Scale Order >= 1; Scale Luck >= 1
418 "# of Excellence" : Scale Order >= 3
419 "the Beloved Father" : Scale Order >= 1; Scale Luck >= 0; Scale Growth >= 0; Gender: 1
420 "the Symbol of Unification" : Scale Order >= 2
421 "Great Defender" : Scale Order >= 1
422 "# of Marriage" : Gender: 0; Scale Order >= 1; Scale Growth >= 0
423 "# of Chastity" : Gender: 0; Scale Order >= 3
424 "the Peacemaker" : Scale Order >= 1
425 "Destroyer of Demons" : Scale Order >= 1; Demon: 0; Fire >= 4
426 "# of the Harvest" : Scale Growth >= 1
427 "the Giver of Food" : Scale Growth >= 2
428 "Giver of Life" : Scale Growth >= 3
429 "Nourisher of the Fields" : Scale Growth >= 1
430 "# of Fruit Trees" : Scale Growth >= 2
431 "# of Vultures" : Scale Death >= 2
432 "# of the Scorched Earth" : Scale Death >= 2; Scale Heat >= 2
433 "# of Hope" : Scale Turmoil >= 0; Scale Luck >= 1
434 "Patron of Outcasts" : Scale Turmoil >= 1; Scale Luck >= 1; Unknown: 15
435 "Patron of Heroes" : Scale Turmoil >= 1; Scale Luck >= 1; Unknown: 15
436 "Guide of Heroes" : Scale Turmoil >= 0; Scale Luck >= 0; Unknown: 15
437 "the Compassionate" : Scale Order >= 1; Scale Luck >= 2
438 "Goddess of Mercy" : Scale Luck >= 1; Gender: 0
439 "# of Gambling" : Scale Luck >= 2; Unknown: 11
440 "Patron of Gamblers" : Scale Luck >= 1; Unknown: 11
441 "Bestower of Good Gifts" : Scale Luck >= 1; Scale Order >= 0
442 "Bringer of Misfortune" : Scale Misfortune >= 2
443 "She Who Opened the Box of Woe" : Scale Misfortune >= 3; Gender: 0
444 "Enforcer of Misfortune" : Scale Misfortune >= 3; Scale Order >= 3
445 "the Narrow Face" : Scale Production >= 1
446 "Giver of Riches" : Scale Growth >= 1; Scale Production >= 1; Unknown: 13
447 "# of Greed" : Scale Production >= 3; Scale Death >= 1
448 "the Teacher of Philosophy" : Scale Order >= 0; Scale Magic >= 0
449 "# of Education and Science" : Scale Magic >= 2; Scale Order >= 1
450 "# of Love" : Unit Id: 1343
451 "Cow of Plenty" : Unit Id: 2466; Nature >= 4
452 "Wish" : Unit Id: 2466; Astral >= 6
453 "Mother of all Cows" : Unit Id: 2466
454 "the Fire of Hatred" : Nation: 13
455 "# of the Wastes" : Nation: 13
456 "the Raging #" : Nation: 13
457 "Enemy of Man" : Nation: 13
458 "the Fire of Hatred" : Nation: 45
459 "# of the Wastes" : Nation: 45
460 "the Raging #" : Nation: 45
461 "Enemy of Man" : Nation: 45
462 "Lord of the Smouldercone" : Nation: 45; Gender: 1
463 "Lord of the Smouldercone" : Nation: 71; Gender: 1
464 "the Raging #" : Nation: 71
465 "# of the Deeps" : Nation: 83
466 "the Basalt #" : Nation: 83
467 "Master of the Coral Towers" : Nation: 87; Gender: 1
468 "Mistress of the Coral Towers" : Nation: 87; Gender: 0
469 "# of the Deeps" : Nation: 87
470 "Eater of the Lands" : Nation: 87; Water >= 9
471 "the Pearled #" : Nation: 85; Astral >= 2
472 "Mother of Pearls" : Nation: 85; Astral >= 4; Gender: 0
473 "Harvester of Sailors" : Nation: 86; Death >= 4
474 "# of Stormy Coasts" : Nation: 86; Air >= 4
475 "the Proud Emperor" : Nation: 36; Gender: 1; Unknown: 16
476 "# of the Emerald Throne" : Nation: 36
477 "# of the Spheres" : Nation: 36; Astral >= 4
478 "the Eternal Emperor" : Gender: 1; Nation: 36; Unknown: 16
479 "# of the Fay" : Nature >= 4; Nation: 38
480 "the Once and Future King" : Nation: 37; Immobile: 0; Gender: 1
481 "Lady of the Lake" : Nation: 37; Water >= 4; Gender: 0
482 "Mistress of Avalon" : Nation: 37; Gender: 0
483 "# of Iron and Machines" : Nation: 39; Earth >= 4
484 "# of the Swamp" : Nation: 15
485 "the Serpent Mind" : Nation: 15
486 "Lord of Poison" : Nation: 15; Nature >= 4; Gender: 1
487 "# of Choking Moisture" : Nation: 47; Nature >= 4; Water >= 4
488 "the Entombed #" : Nation: 73; Undead: 1
489 "# of a Thousand Stars" : Nation: 33; Astral >= 4
490 "# of Time" : Nation: 33; Astral >= 9
491 "the Savior" : Nation: 6
492 "the Shroud" : Nation: 6
493 "the Eternal Emperor" : Gender: 1; Nation: 34
494 "Enemy of Life" : Nation: 34
495 "the Adversary" : Nation: 34
496 "Soul of Darkness" : Nation: 34
497 "the Stillness of Death" : Nation: 34; Undead: 1
498 "the Eternal Emperor" : Gender: 1; Nation: 34
499 "Master of the Seraphim" : Nation: 46; Gender: 1
500 "Mistress of the Seraphim" : Nation: 46; Gender: 0
501 "the Storm Herald" : Nation: 46; Air >= 6
502 "the Blizzard King" : Nation: 46; Gender: 1
503 "# of the Morning" : Nation: 40; Scale Order >= 0
504 "Marshal of the Host" : Nation: 40; Scale Order >= 0; Fire >= 4; Astral >= 4
505 "# of Justice" : Nation: 40; Fire >= 4; Scale Order >= 3
506 "Soldier of the Sun" : Nation: 40; Fire >= 4; Astral >= 4
507 "Bright Sun of Justice" : Nation: 40; Fire >= 4; Scale Order >= 3
508 "the King Unjust" : Nation: 65; Blood >= 4; Scale Turmoil >= 1; Gender: 1
509 "the Fallen #" : Nation: 65; Blood >= 4
510 "the Beast" : Nation: 16
511 "the Beast #" : Nation: 48
512 "# of the Wild" : Nation: 48
513 "# of the Gallows" : Nation: 21; Death >= 4
514 "the Hanged God" : Nation: 21; Death >= 4
515 "Hangatyr" : Nation: 21; Death >= 4
516 "Father of Ages" : Nation: 20; Gender: 1
517 "Mother of the Vanir" : Nation: 20; Gender: 0
518 "Father of Ages" : Nation: 50; Gender: 1
519 "Mother of the Vanir" : Nation: 50; Gender: 0
520 "Fimbultyr" : Nation: 22
521 "Lord of Niefel" : Nation: 22; Gender: 1; Scale Cold >= 2
522 "Lady of Niefel" : Nation: 22; Gender: 0; Scale Cold >= 2
523 "the Hunger Without Thought" : Nation: 88
524 "the Lurker at the Threshold" : Nation: 88
525 "He Who Should not be Named" : Nation: 88; Gender: 1
526 "the Key to the Gate" : Nation: 88
527 "the Hunger Without Thought" : Nation: 92
528 "the Lurker at the Threshold" : Nation: 92
529 "He Who Should not be Named" : Nation: 92; Gender: 1
530 "the Key to the Gate" : Nation: 92
531 "She of the Jade Skirt" : Gender: 0; Scale Growth >= 0; Nation: 0; Water >= 1
532 "Jaguar King" : Nation: 12; Gender: 1
533 "the Bloody Mistress" : Nation: 12; Gender: 0
534 "the Eater of Hearts" : Nation: 12
535 "Patron of Cannibalism" : Nation: 12
536 "the Twisted Obsidian One" : Death >= 4; Nation: 12
537 "# of the Obsidian Blade" : Nation: 12
538 "the Obsidian Butterfly" : Gender: 0; Lifeless: 0; Nation: 12; Death >= 4
539 "the Lawgiver" : Nation: 41; Scale Order >= 2
540 "the Corn #" : Scale Growth >= 1; Nation: 41
541 "She of the Jade Skirt" : Gender: 0; Nation: 41; Water >= 2
542 "Minister of the Celestial Bureaucracy" : Scale Order >= 3; Nation: 42; Astral >= 4
543 "Minister of the Five Elements" : Nation: 42; All Element >= 3; Nature >= 3
544 "Minister of the Eight Winds" : Nation: 42; Air >= 4; Unknown: 1
545 "God of Luck Through Hard Work" : Nation: 42; Scale Order >= 3; Scale Luck >= 1
546 "God of Luck Through Hard Work" : Nation: 67; Scale Order >= 3; Scale Luck >= 1
547 "God of Luck Through Hard Work" : Nation: 10; Scale Order >= 3; Scale Luck >= 1
548 "the Rice #" : Nation: 10; Scale Growth >= 1
549 "the Rice #" : Nation: 67; Scale Growth >= 1
550 "the Rice #" : Nation: 42; Scale Growth >= 1
551 "the Rice #" : Nation: 69; Scale Growth >= 1
552 "# of Medicine" : Nation: 33; Scale Growth >= 1; Unknown: 14
553 "# of Medicine" : Nation: 60; Scale Growth >= 1; Unknown: 14
554 "# of Medicine" : Nation: 42; Scale Growth >= 1; Unknown: 14
555 "# of Medicine" : Nation: 10; Scale Growth >= 1; Unknown: 14
556 "# of Medicine" : Unit Id: 1348; Scale Growth >= 1; Unknown: 0
557 "# of Medical Arts" : Nation: 33; Scale Growth >= 1; Unknown: 14
558 "# of Medical Arts" : Nation: 60; Scale Growth >= 1; Unknown: 14
559 "# of Medical Arts" : Nation: 42; Scale Growth >= 1; Unknown: 14
560 "# of Medical Arts" : Nation: 10; Scale Growth >= 1; Unknown: 14
561 "# of Medical Arts" : Unit Id: 1348; Scale Growth >= 1; Unknown: 14
562 "the Summer Lord" : Nation: 43; Gender: 1
563 "the Heart of Darkness" : Nation: 43; Death >= 4
564 "# of Spiders" : Nation: 43
565 "the God in the Mountain" : Nation: 43; Earth >= 4; Gender: 1
566 "the Goddess in the Forest" : Nation: 43; Nature >= 4; Gender: 0
567 "the Wheel" : Nation: 53; Astral >= 4
568 "# of the Apes" : Nation: 53; Astral >= 0
569 "the Wheel" : Nation: 25; Astral >= 4
570 "# of the Apes" : Nation: 25
571 "the Wheel" : Nation: 78; Astral >= 4
572 "# of the Apes" : Nation: 78
573 "the Hunger Below" : Nation: 17; Death >= 4
574 "the Maker of the Seal" : Nation: 17; Astral >= 6
575 "the Obsidian Mind" : Nation: 17; Death >= 4; Earth >= 4
576 "# of Opulent Halls" : Nation: 17
577 "# of Opulent Halls" : Nation: 44
578 "the Golem #" : Nation: 44; Lifeless: 1
579 "# of the Tombs Underneath" : Nation: 70; Death >= 4
580 "# of the Bakemono" : Nation: 54
581 "# of the Oni" : Nation: 27
582 "# of the Date Clusters" : Nation: 29; Nature >= 4; Scale Growth >= 3; Unknown: 12
583 "House of the Date Clusters" : Nation: 29; Nature >= 4; Scale Growth >= 3; Unknown: 12
584 "# of the Date Clusters" : Nation: 56; Nature >= 4; Scale Growth >= 3; Unknown: 12
585 "House of the Date Clusters" : Nation: 56; Nature >= 4; Scale Growth >= 3; Unknown: 12
586 "the Lamenting #" : Nation: 29
587 "the Lamenting #" : Nation: 56
588 "# of Near and Close" :
589 "the Self Created Master" : Immobile: 1; Gender: 1; Lifeless: 1
590 "Sword of Balance" :
591 "the Awesome" :
592 "Symbol of Unchallenged Victory" :
593 "the Invincible and Ever" :
594 "Patron of Soldiers" :
595 "Patron of Languages" :
596 "# of Courage" :
597 "# of Agriculture" : Scale Growth >= 2; Unknown: 12; Scale Order >= 1
598 "Patron of Farmers" : Scale Growth >= 1; Unknown: 12; Scale Order >= 0
599 "the Unforgiving #" :
600 "Councilor of Gods" : Unknown: 19
601 "# of the Cold North" : Scale Cold >= 3
602 "# of the Frozen Marches" : Water >= 3; Nature >= 3; Scale Cold >= 3
603 "# of Gluttony" : Scale Sloth >= 2; Scale Growth >= 1
604 "He Who Waits" : Scale Sloth >= 2; Gender: 1
605 "Grand Vizier of the Lands of Woe" : Scale Death >= 2; Scale Turmoil >= 2; Dominion: 8
606 "the Night Hag" : Undead: 1; Gender: 0
607 "Duke of Hell" : Demon: 1
608 "Fiend of the Wounding Spear" : Demon: 1
609 "Monster of Confusion and Disorder" : Demon: 1; Scale Turmoil >= 3
610 "# of Silence" : Scale Order >= 1; Death >= 1
611 "# of Desire and Grace" : Gender: 0
612 "Lady of the Obscure" : Gender: 0
613 "Lady of the Creamery" : Gender: 0; Scale Growth >= 1
614 "the Great Leap Forward" : Scale Order >= 0
615 "the Mouth of " : Disciple: 1
616 "the Voice of " : Disciple: 1
617 "the Will of " : Disciple: 1
618 "the Fist of " : Disciple: 1
619 "the Herald of " : Disciple: 1
620 "the Messenger of " : Disciple: 1
621 "the Chaplain of " : Disciple: 1
622 "the First General of " : Disciple: 1
623 "the First Minister of " : Disciple: 1; Nation: 42
624 "the Eternal Bookkeeper of " : Disciple: 1; Nation: 42
625 "the Right Hand of " : Disciple: 1
626 "the Left Hand of " : Disciple: 1
627 "! who is Always Behind " : Disciple: 1
628 "Firstborn of " : Disciple: 1
629 "the First Follower of " : Disciple: 1
630 "the Second Follower of " : Disciple: 1
631 "the Son of " : Disciple: 1; Gender: 1
632 "the Daughter of " : Disciple: 1; Gender: 0
633 "! who Aided " : Disciple: 1
634 "! who Saw " : Disciple: 1
635 "! who Heard " : Disciple: 1
636 "! who Betrayed " : Disciple: 1
637 "the Guardian of the Servants of " : Disciple: 1
638 "the Most Devout Follower of " : Disciple: 1
639 "the Most Eloquent Follower of " : Disciple: 1
640 "the Most Important Follower of " : Disciple: 1
641 "the Joy of " : Disciple: 1; Gender: 0
642 "the Seed of " : Disciple: 1; Gender: 1
643 "the Housekeeper of " : Disciple: 1
644 "! who Walks Before" : Disciple: 1
645 "Guardian of the Vestibule of " : Disciple: 1
646 "Vanquisher of the Enemies of " : Disciple: 1
647 "First Soldier of the Empire of " : Disciple: 1; Immobile: 0
648 "Foremost of " : Disciple: 1
649 "the Flame of " : Disciple: 1; Fire >= 3
650 "! who Carries the Flame of " : Disciple: 1; Fire >= 3
651 "the Light of " : Disciple: 1; Fire >= 3
652 "the Wrath of " : Disciple: 1; Fire >= 3
653 "the Breath of " : Disciple: 1; Air >= 3
654 "the Keeper of the Storm of " : Disciple: 1; Air >= 3
655 "the Keeper of the Flood of " : Disciple: 1; Water >= 3
656 "the Boatkeeper of " : Disciple: 1; Water >= 3
657 "the Wallkeeper of " : Disciple: 1; Earth >= 3
658 "the Hammer of " : Disciple: 1; Earth >= 3
659 "the Anvil of " : Disciple: 1; Earth >= 3
660 "the Forester of " : Disciple: 1; Nature >= 3
661 "the Dark Hand of " : Disciple: 1; Death >= 3
662 "the Shadow of " : Disciple: 1; Death >= 3
663 "the Star of " : Disciple: 1; Astral >= 3
664 "the Bright Mind of " : Disciple: 1; Astral >= 3
665 "the Slaver of " : Disciple: 1; Blood >= 3
666 "the Spirit of the Fear of " : Disciple: 1; Astral >= 3; Death >= 3
667 "the Judge of " : Disciple: 1; Fire >= 3
</div>

<br/>
<br/>
<br/>
Enter Pretender Title to descript:
<input type="text" class="long" />
<br/>
<br/>
<table style="border: 1px solid black;text-align: center">
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>Content</td>
        <td>Content</td>
    </tr>
</table>

{% endblock %}
