{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}/css/jquery.auto-complete.css">
<script src="{{app.request.getSchemeAndHttpHost()}}/js/jquery.auto-complete.min.js"></script>

{% include 'AppBundle:home:ads.html.twig' %}

<br/>
<br/>
<br/>
Enter Pretender Title to decrypt:
<input type="text" class="long" id="title" />
<br/>
<b>Title:</b> <div style="display: inline;"><span id="title-initial"></span><br/></div>
<b>Result:</b> <div style="display: inline;"><span id="title-result"></span><br/></div>
<b>Min dominion:</b> <div style="display: inline;"><span id="title-dom"></span><br/></div>
<button id="title-clear">Clear</button>
<br/>

<div class="hide" id="titles">
{% include 'AppBundle:home:_codes.html.twig' %}
</div>

{% endblock %}
