/************  header menu*/
.login-menu a{
    margin-left: 100px;
}

/************  add/edit turn*/
#turn > div {
    width: 600px;
}

form > div{
    margin-bottom: 5px;
}

form > .separate-top {
    margin-top: 25px;
}

#turn label{
    font-weight: bold;
    /*margin-left: 250px;*/
}

.vich-file > div{
    display: inline;
}

.post-shared label{
    font-weight: bold;
    margin-left: 250px;
}

.post-shared input{
    width: 600px;
}

.tinymce-short{
    width: 60%;
}

/* show turn form */

.ul-separated li{
    margin-top: 20px;
}

/************ #new game form*/
.nage_Early, .nage_Middle, .nage_Late {
    display: none;
}

.long {
    width: 500px;
}

#game > div {
    margin-bottom: 5px;
}

.blue{
    color: blue;
}

/************ homepage*/

.myTableStyle thead {
    color: green;
}

.myTableStyle tbody {
    color: blue;
}

.myTableStyle tfoot {
    color: red;
}

.myTableStyle table, th, td {
    border: 1px dotted black;

    min-width: 150px;
}

.myTableStyle {
    width: 100%;
}

.center, table.center{
    text-align: center;
}

#container{
    padding-top: 150px;
}

#container h1, #container h3{
    text-align: center;
}

.underline{
    text-decoration: underline;
}
