/************  header menu*/
.login-menu a{
    margin-left: 100px;
}

/************  add/edit turn*/
#turn > div {
    width: 600px;
}

#turn label{
    font-weight: bold;
    /*margin-left: 250px;*/
}

.vich-file > div{
    display: inline;
}

.post-shared label{
    font-weight: bold;
    margin-left: 250px;
}

.post-shared input{
    width: 600px;

}

/************ #new game form*/
.nage_Early, .nage_Middle, .nage_Late {
    display: none;
}

/************ homepage*/

.myTableStyle thead {
    color: green;
}

.myTableStyle tbody {
    color: blue;
}

.myTableStyle tfoot {
    color: red;
}

.myTableStyle table, th, td {
    border: 1px dotted black;

    min-width: 150px;
}

.myTableStyle {
    /*margin-left: 300px;*/
    width: 100%;
}

table.center{
    text-align: center;
}
